<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perfectmatch.unicampspringboot.mapper.CommentMapper">
    <select id="getCommentById" resultType="com.perfectmatch.unicampspringboot.db.CommentDao">
        select * from comment where id=#{id};
    </select>
    <insert id="insertComment" parameterType="com.perfectmatch.unicampspringboot.db.CommentDao"
            useGeneratedKeys="true" keyProperty="id">
        insert into comment (user_id, course_id,text,ref_id)
        values (#{user_id}, #{course_id}, #{text},#{ref_id});
    </insert>
    <update id="eraseCommentText" parameterType="String">
        update comment set text=#{default_text} where id=#{id};
    </update>
    <select id="getCommentByCourseId" resultType="com.perfectmatch.unicampspringboot.db.CommentDao">
        select * from comment where course_id=#{course_id};
    </select>
</mapper>
