<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perfectmatch.unicampspringboot.mapper.CourseMapper">
    <cache type="com.perfectmatch.unicampspringboot.RedisCache"/>
    <select id="findCourseById" resultType="com.perfectmatch.unicampspringboot.db.CourseDao">
        select * from course where id=#{id};
    </select>
    <insert id="insertCourse" parameterType="String">
        insert into course (subcategory_id, name, provider, description, difficulty, est_hour, website, video,
        assignment)
        values (#{subcategory_id}, #{name}, #{provider}, #{description}, #{difficulty}, #{est_hour}, #{website},
        #{video},
        #{assignment});
    </insert>
    <update id="updateCourse" parameterType="String">
        update course set subcategory_id=#{subcategory_id}, name=#{name}, provider=#{provider},
        description=#{description},
        difficulty=#{difficulty}, est_hour=#{est_hour}, website=#{website}, video=#{video}, assignment=#{assignment}
        where
        id=#{id};
    </update>
    <delete id="deleteCourse" parameterType="String">
        delete from course where id=#{id};
    </delete>
    <select id="listCourse" resultType="com.perfectmatch.unicampspringboot.db.CourseDao">
        select * from course;
    </select>
    <select id="getPreCourse" resultType="Long">
        select pre_id from prerequisite where post_id=#{id};
    </select>
    <select id="getPostCourse" resultType="Long">
        select post_id from prerequisite where pre_id=#{id};
    </select>
    <select id="getPrerequisite" resultType="com.perfectmatch.unicampspringboot.db.Prerequisite">
        select * from prerequisite where post_id=#{post_id} and pre_id=#{pre_id};
    </select>
    <insert id="addPrerequisite" parameterType="String">
        insert into prerequisite (pre_id,post_id) values (#{pre_id},#{post_id});
    </insert>
    <delete id="deletePrerequisite" parameterType="String">
        delete from prerequisite where pre_id=#{pre_id} and post_id=#{post_id};
    </delete>
    <delete id="deleteRelatedPrerequisite" parameterType="String">
        delete from prerequisite where pre_id=#{id} or post_id=#{id};
    </delete>
    <select id="listNew" resultType="com.perfectmatch.unicampspringboot.db.CourseRecDao">
        select id, subcategory_id, name, provider, description, difficulty, est_hour from course order by id desc limit 6;
    </select>
    <select id="listHot" resultType="com.perfectmatch.unicampspringboot.db.CourseRecDao">
        with hot as ( select course_id, count(*) as num from favorite group by course_id order by count(*) desc limit 6)
        select course.id, subcategory_id, name, provider, description, difficulty, est_hour from hot left join course on hot.course_id = course.id order by hot.num;
    </select>
    <select id="findByIds" resultType="com.perfectmatch.unicampspringboot.db.CourseRecDao">
        select id, subcategory_id, name, provider, description, difficulty, est_hour from course where id in
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="findByKeyword" parameterType="String" resultType="com.perfectmatch.unicampspringboot.db.CourseDao">
        select * from course where match (name, provider, description) against (#{keyword} in natural language mode);
    </select>
</mapper>
